.version.amex /* version checker */
{
	color: #0000E2;
	background-color: #7CD878;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 481.85000000000014px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding: 17px 12px 71.14999999999986px 8px;
}

#pu1106-8
{
	width: 0.01px;
}

#u1106-8
{
	z-index: 2;
	width: 302px;
	min-height: 54px;
	margin-right: -10000px;
}

#u1106-8.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 54px;
	width: 302px;
	margin: 0px -10000px 0px 0px;
}

#u1129-4
{
	z-index: 29;
	width: 184px;
	min-height: 16px;
	margin-right: -10000px;
	margin-top: 38px;
	left: 156px;
}

#menuu1107
{
	z-index: 10;
	width: 355px;
	margin-left: 5px;
	margin-top: 14px;
}

#u1122
{
	width: 105px;
	min-height: 27px;
	margin-right: -10000px;
}

#u1123
{
	width: 105px;
	padding-bottom: 10px;
}

#u1123:hover
{
	width: 105px;
	min-height: 0px;
	margin: 0px;
}

#u1123:active
{
	width: 105px;
	min-height: 0px;
	margin: 0px;
}

#u1123.MuseMenuActive
{
	width: 105px;
	min-height: 0px;
	margin: 0px;
}

#u1126-4
{
	width: 52px;
	min-height: 17px;
	margin-right: -10000px;
	top: 5px;
	left: 26px;
}

#u1123:hover #u1126-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 52px;
	margin: 0px -10000px 0px 0px;
}

#u1123:active #u1126-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 52px;
	margin: 0px -10000px 0px 0px;
}

#u1123.MuseMenuActive #u1126-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 52px;
	margin: 0px -10000px 0px 0px;
}

#u1115
{
	width: 112px;
	min-height: 27px;
	margin-right: -10000px;
	left: 107px;
}

#u1118
{
	width: 112px;
	padding-bottom: 10px;
}

#u1118:hover
{
	width: 112px;
	min-height: 0px;
	margin: 0px;
}

#u1118:active
{
	width: 112px;
	min-height: 0px;
	margin: 0px;
}

#u1118.MuseMenuActive
{
	width: 112px;
	min-height: 0px;
	margin: 0px;
}

#u1121-4
{
	width: 60px;
	min-height: 17px;
	margin-right: -10000px;
	top: 5px;
	left: 26px;
}

#u1118:hover #u1121-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u1118:active #u1121-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u1118.MuseMenuActive #u1121-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u1108
{
	width: 134px;
	min-height: 27px;
	margin-right: -10000px;
	left: 221px;
}

#u1111
{
	width: 134px;
	padding-bottom: 10px;
}

#u1111:hover
{
	width: 134px;
	min-height: 0px;
	margin: 0px;
}

#u1111:active
{
	width: 134px;
	min-height: 0px;
	margin: 0px;
}

#u1111.MuseMenuActive
{
	width: 134px;
	min-height: 0px;
	margin: 0px;
}

#u1114-4
{
	width: 82px;
	min-height: 17px;
	margin-right: -10000px;
	top: 5px;
	left: 26px;
}

#u1111:hover #u1114-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u1111:active #u1114-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u1111.MuseMenuActive #u1114-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u1191
{
	z-index: 33;
	width: 324px;
	min-height: 207px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 20px;
	margin-top: 22px;
	position: relative;
}

#u1193-20
{
	z-index: 34;
	width: 324px;
	min-height: 320px;
	background-color: transparent;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-left: 20px;
	margin-top: 13px;
	position: relative;
}

#u1193-3
{
	font-size: 16px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1193
{
	font-size: 14px;
	letter-spacing: 2px;
	font-weight: bold;
	line-height: 17px;
}

#u1193-7
{
	font-size: 16px;
	letter-spacing: 2px;
	font-style: normal;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1193-5
{
	font-size: 14px;
	font-weight: bold;
	line-height: 17px;
}

#u1193-10
{
	font-size: 16px;
	font-style: normal;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1193-2,#u1193-6,#u1193-8
{
	line-height: 19px;
}

#u1193-9
{
	font-size: 12px;
	font-style: italic;
	line-height: 14px;
}

#u1193-12
{
	letter-spacing: 2px;
}

#u1193-14
{
	font-weight: normal;
	font-style: italic;
}

#u1193-15,#u1193-16
{
	font-size: 14px;
	font-weight: bold;
}

#u1193-4,#u1193-11,#u1193-17,#u1193-18
{
	font-size: 16px;
	line-height: 19px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

