.version.index /* version checker */
{
	color: #0000F8;
	background-color: #A3830B;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 425px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding: 17px 12px 128px 8px;
}

#pu1106-8
{
	width: 0.01px;
}

#u1106-8
{
	z-index: 2;
	width: 302px;
	min-height: 54px;
	margin-right: -10000px;
}

#u1106-8.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 54px;
	width: 302px;
	margin: 0px -10000px 0px 0px;
}

#u1129-4
{
	z-index: 29;
	width: 184px;
	min-height: 16px;
	margin-right: -10000px;
	margin-top: 38px;
	left: 156px;
}

#menuu1107
{
	z-index: 10;
	width: 355px;
	margin-left: 5px;
	margin-top: 14px;
}

#u1122
{
	width: 105px;
	min-height: 27px;
	margin-right: -10000px;
}

#u1123
{
	width: 105px;
	padding-bottom: 10px;
}

#u1123:hover
{
	width: 105px;
	min-height: 0px;
	margin: 0px;
}

#u1123:active
{
	width: 105px;
	min-height: 0px;
	margin: 0px;
}

#u1123.MuseMenuActive
{
	width: 105px;
	min-height: 0px;
	margin: 0px;
}

#u1126-4
{
	width: 52px;
	min-height: 17px;
	margin-right: -10000px;
	top: 5px;
	left: 26px;
}

#u1123:hover #u1126-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 52px;
	margin: 0px -10000px 0px 0px;
}

#u1123:active #u1126-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 52px;
	margin: 0px -10000px 0px 0px;
}

#u1123.MuseMenuActive #u1126-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 52px;
	margin: 0px -10000px 0px 0px;
}

#u1115
{
	width: 112px;
	min-height: 27px;
	margin-right: -10000px;
	left: 107px;
}

#u1118
{
	width: 112px;
	padding-bottom: 10px;
}

#u1118:hover
{
	width: 112px;
	min-height: 0px;
	margin: 0px;
}

#u1118:active
{
	width: 112px;
	min-height: 0px;
	margin: 0px;
}

#u1118.MuseMenuActive
{
	width: 112px;
	min-height: 0px;
	margin: 0px;
}

#u1121-4
{
	width: 60px;
	min-height: 17px;
	margin-right: -10000px;
	top: 5px;
	left: 26px;
}

#u1118:hover #u1121-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u1118:active #u1121-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u1118.MuseMenuActive #u1121-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u1108
{
	width: 134px;
	min-height: 27px;
	margin-right: -10000px;
	left: 221px;
}

#u1111
{
	width: 134px;
	padding-bottom: 10px;
}

#u1111:hover
{
	width: 134px;
	min-height: 0px;
	margin: 0px;
}

#u1111:active
{
	width: 134px;
	min-height: 0px;
	margin: 0px;
}

#u1111.MuseMenuActive
{
	width: 134px;
	min-height: 0px;
	margin: 0px;
}

#u1114-4
{
	width: 82px;
	min-height: 17px;
	margin-right: -10000px;
	top: 5px;
	left: 26px;
}

#u1111:hover #u1114-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u1111:active #u1114-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u1111.MuseMenuActive #u1114-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#pu1155
{
	width: 0.01px;
	margin-left: 18px;
	margin-top: 35px;
}

#u1155
{
	z-index: 33;
	width: 153px;
	height: 85px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../../images/screen%20shot%202016-03-20%20at%20002119-u1155-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u1155:hover
{
	width: 153px;
	height: 85px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/flourclap.gif") no-repeat center center;
	background-size: cover;
}

.hidpi #u1155
{
	background-image: url("../../images/screen%20shot%202016-03-20%20at%20002119-u1155-fr_2x.jpg");
}

.hidpi #u1155:hover
{
	background-image: url("../../images/flourclap_2x.gif");
}

#u1156
{
	z-index: 34;
	width: 153px;
	height: 85px;
	position: relative;
	margin-right: -10000px;
	left: 174px;
	background: transparent url("../../images/screen%20shot%202016-03-20%20at%20005627-u1156-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u1156:hover
{
	width: 153px;
	height: 85px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/jgrun2.gif") no-repeat center center;
	background-size: cover;
}

.hidpi #u1156
{
	background-image: url("../../images/screen%20shot%202016-03-20%20at%20005627-u1156-fr_2x.jpg");
}

.hidpi #u1156:hover
{
	background-image: url("../../images/jgrun2_2x.gif");
}

#u1160
{
	z-index: 36;
	width: 153px;
	height: 84px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../../images/screen%20shot%202016-03-20%20at%20010648-u1160-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u1160:hover
{
	width: 153px;
	height: 84px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/techconfessions2.gif") no-repeat center center;
	background-size: cover;
}

.hidpi #u1160
{
	background-image: url("../../images/screen%20shot%202016-03-20%20at%20010648-u1160-fr_2x.jpg");
}

.hidpi #u1160:hover
{
	background-image: url("../../images/techconfessions2_2x.gif");
}

#u1159
{
	z-index: 35;
	width: 153px;
	height: 85px;
	position: relative;
	margin-right: -10000px;
	left: 174px;
	background: transparent url("../../images/9n5a2590-u1159-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u1159:hover
{
	width: 153px;
	height: 85px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/glittergif1.gif") no-repeat center center;
	background-size: cover;
}

.hidpi #u1159
{
	background-image: url("../../images/9n5a2590-u1159-fr_2x.jpg");
}

.hidpi #u1159:hover
{
	background-image: url("../../images/glittergif1_2x.gif");
}

#pu1160,#pu1163
{
	width: 0.01px;
	margin-left: 18px;
	margin-top: 18px;
}

#u1163
{
	z-index: 37;
	width: 154px;
	height: 85px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../../images/screen%20shot%202016-03-20%20at%20011412-u1163-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u1163:hover
{
	width: 154px;
	height: 85px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/giphy.gif") no-repeat center center;
	background-size: cover;
}

.hidpi #u1163
{
	background-image: url("../../images/screen%20shot%202016-03-20%20at%20011412-u1163-fr_2x.jpg");
}

.hidpi #u1163:hover
{
	background-image: url("../../images/giphy_2x.gif");
}

#u1164
{
	z-index: 38;
	width: 154px;
	height: 85px;
	position: relative;
	margin-right: -10000px;
	left: 174px;
	background: transparent url("../../images/screen%20shot%202016-03-20%20at%20011718-u1164-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u1164:hover
{
	width: 154px;
	height: 85px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: transparent url("../../images/amex2.gif") no-repeat center center;
	background-size: cover;
}

.hidpi #u1164
{
	background-image: url("../../images/screen%20shot%202016-03-20%20at%20011718-u1164-fr_2x.jpg");
}

.hidpi #u1164:hover
{
	background-image: url("../../images/amex2_2x.gif");
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

