.version.tech_irl /* version checker */
{
	color: #0000F2;
	background-color: #4575A6;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1200px;
	min-height: 539px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 361px;
	margin-left: auto;
	margin-right: auto;
}

#ppu115-8
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 20px;
	margin-left: 20px;
}

#pu115-8
{
	width: 0.01px;
}

#u115-8
{
	z-index: 2;
	width: 518px;
	margin-right: -10000px;
}

#u115-8.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	width: 518px;
	margin: 0px -10000px 0px 0px;
}

#u883-4
{
	z-index: 29;
	width: 184px;
	min-height: 16px;
	margin-right: -10000px;
	margin-top: 91px;
	left: 306px;
}

#u683
{
	z-index: 54;
	width: 560px;
	min-height: 319px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 79px;
	position: relative;
}

#pmenuu122
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 53px;
	margin-left: 600px;
}

#menuu122
{
	z-index: 10;
	width: 509px;
}

#u130
{
	width: 156px;
	min-height: 34px;
	margin-right: -10000px;
}

#u131
{
	width: 156px;
	padding-bottom: 17px;
}

#u131:hover
{
	width: 156px;
	min-height: 0px;
	margin: 0px;
}

#u131:active
{
	width: 156px;
	min-height: 0px;
	margin: 0px;
}

#u131.MuseMenuActive
{
	width: 156px;
	min-height: 0px;
	margin: 0px;
}

#u132-4
{
	width: 52px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 52px;
}

#u131:hover #u132-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 52px;
	margin: 0px -10000px 0px 0px;
}

#u131:active #u132-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 52px;
	margin: 0px -10000px 0px 0px;
}

#u131.MuseMenuActive #u132-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 52px;
	margin: 0px -10000px 0px 0px;
}

#u123
{
	width: 164px;
	min-height: 34px;
	margin-right: -10000px;
	left: 158px;
}

#u126
{
	width: 164px;
	padding-bottom: 17px;
}

#u126:hover
{
	width: 164px;
	min-height: 0px;
	margin: 0px;
}

#u126:active
{
	width: 164px;
	min-height: 0px;
	margin: 0px;
}

#u126.MuseMenuActive
{
	width: 164px;
	min-height: 0px;
	margin: 0px;
}

#u129-4
{
	width: 60px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 52px;
}

#u126:hover #u129-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u126:active #u129-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u126.MuseMenuActive #u129-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u138
{
	width: 185px;
	min-height: 34px;
	margin-right: -10000px;
	left: 324px;
}

#u141
{
	width: 185px;
	padding-bottom: 17px;
}

#u141:hover
{
	width: 185px;
	min-height: 0px;
	margin: 0px;
}

#u141:active
{
	width: 185px;
	min-height: 0px;
	margin: 0px;
}

#u141.MuseMenuActive
{
	width: 185px;
	min-height: 0px;
	margin: 0px;
}

#u144-4
{
	width: 82px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
	left: 51px;
}

#u141:hover #u144-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u141:active #u144-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u141.MuseMenuActive #u144-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u512-21
{
	z-index: 33;
	width: 580px;
	min-height: 320px;
	background-color: transparent;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-top: 132px;
	position: relative;
}

#u512-3
{
	font-size: 16px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u512
{
	font-size: 14px;
	letter-spacing: 2px;
	font-weight: bold;
	line-height: 17px;
}

#u512-7
{
	font-size: 16px;
	letter-spacing: 2px;
	font-style: normal;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u512-5
{
	font-size: 14px;
	font-weight: bold;
	line-height: 17px;
}

#u512-13
{
	font-size: 16px;
	font-style: normal;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u512-2,#u512-6,#u512-11
{
	line-height: 19px;
}

#u512-12
{
	font-size: 12px;
	font-style: italic;
	line-height: 14px;
}

#u512-9,#u512-10,#u512-14
{
	font-size: 16px;
	line-height: 19px;
	font-style: normal;
}

#u512-17
{
	font-size: 14px;
	font-weight: bold;
}

#u512-16
{
	font-weight: normal;
	font-style: italic;
}

#u512-4,#u512-18,#u512-19
{
	font-size: 16px;
	line-height: 19px;
}

body
{
	position: relative;
	min-width: 1200px;
}

#page .verticalspacer
{
	clear: both;
}

